* {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Styling for background and flex organisation */

body {
    height: 100vh;
}

.background_light {
    background-image: url(/Images/background.jpg);
    background-size: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.background_dark {
    background-image: url(/Images/background2.jpg);
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*Main container styling */

.container_light {
    width: 500px;
    background-color:rgb(0, 97, 129);
    height: 700px;
    border-radius: 15px;
    color: white;
}

.container_dark {
    width: 500px;
    background-color:rgb(25, 41, 92);
    height: 700px;
    border-radius: 15px;
    color: white;
}

#dark_light_mode {
    position: absolute;
    right: 3%;
    top: 3%;
}

/*Styling for light and dark mode buttons*/

.button_mode_light button {
    background-color:rgb(255, 245, 212);
    padding: 4px;
    border-radius: 5px;
    border: solid 2px rgb(255, 210, 142);
}

.button_mode_light button:hover {
    background-color:rgb(185, 113, 61);
    color: white;
    border: none;
}

.button_mode_dark button {
    background-color:rgb(25, 41, 92);
    padding: 4px;
    border-radius: 5px;
    border: none;
    color: white;
}

.button_mode_dark button:hover {
    background-color:rgb(132, 130, 187);
    color: white;
    border: none;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for form and individual items */

form {
    height: 400px;
    margin-top: 40px;
    margin-bottom: 30px;
}

#heading {
    text-align: center;
    margin-bottom: 40px;
}

#temp_input {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

#temp_input label {
    width: 53%;
}

#temp_input input {
    width: 35%;
    font-size: 11pt;
    padding-left: 3px;
}

#form_inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#decimal_places_div {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

#decimal_places_div label {
    width: 55%;
}

/* Styling to get range input labels */

datalist {
    display: flex;
    justify-content: space-between;
    color: white;
  }

#dropdown_input_div,
#dropdown_output_div {
    width: 50%;
}

#dropdown_input_div label,
#dropdown_output_div label {
    padding-right: 5px;
}

#dropdown_output_div {
    text-align: right;
}


/* Submit button styling */

#submit_button {
    text-align: center;
}

input[type="button"] {
    background-color:rgb(220, 246, 255);
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input[type="button"]:hover {
    background-color:rgb(147, 228, 255);
}

/*Styling for area where output will be shown */

#output_div {
    height: 200px;
    width: 430px;
    background-color: rgb(244, 244, 243);
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.output_light {
    color: rgb(0, 97, 129);
}

.output_dark {
    color:rgb(25, 41, 92);
}

#output_div p {
    font-size: 15pt;
}
#output_div h1 {
    font-size: 30pt;
}
